In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.svm import SVR

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

from sklearn.decomposition import PCA

C:\Users\HARSHIT JAIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv(r'C:\Users\HARSHIT JAIN\Desktop\data science projects\Real_Estate_Data_science_Project\DATASETS\gurgaon_properties_post_feature_selection_v2\gurgaon_properties_post_feature_selection_v2.csv')

In [3]:
df.head()

,property_type,sector,price,bedRoom,bathroom,balcony,agePossession,built_up_area,study room,servant room,store room,pooja room,others,furnishing_type,luxury_category,floor_category
0,falt,sector 54,5.75,3,4,3,Relatively New,2329.0,0,1,0,0,0,2,high,high floor
1,falt,sector 2,3.35,4,4,3+,New Property,5000.0,1,0,0,0,0,1,medium,low floor
2,falt,sector 69,1.40,3,3,2,Relatively New,1428.0,0,0,0,1,0,1,medium,medium floor
3,falt,sector 79,1.70,3,2,3,Relatively New,1570.0,0,0,0,0,0,1,low,medium floor
4,falt,sector 33,1.35,3,2,3+,New Property,1409.0,0,0,0,0,0,1,low,high floor

In [5]:
df.drop(columns=['study room','pooja room','others'],inplace=True)

In [6]:
df.head()

,property_type,sector,price,bedRoom,bathroom,balcony,agePossession,built_up_area,servant room,store room,furnishing_type,luxury_category,floor_category
0,falt,sector 54,5.75,3,4,3,Relatively New,2329.0,1,0,2,high,high floor
1,falt,sector 2,3.35,4,4,3+,New Property,5000.0,0,0,1,medium,low floor
2,falt,sector 69,1.40,3,3,2,Relatively New,1428.0,0,0,1,medium,medium floor
3,falt,sector 79,1.70,3,2,3,Relatively New,1570.0,0,0,1,low,medium floor
4,falt,sector 33,1.35,3,2,3+,New Property,1409.0,0,0,1,low,high floor

In [7]:
df.to_csv('gurgaon_properties_post_feature_selection_v3.csv', index=False)

In [8]:
df = pd.read_csv(r'C:\Users\HARSHIT JAIN\Desktop\data science projects\Real_Estate_Data_science_Project\DATASETS\gurgaon_properties_post_feature_selection_v3\gurgaon_properties_post_feature_selection_v3.csv')

In [9]:
df.head()

,property_type,sector,price,bedRoom,bathroom,balcony,agePossession,built_up_area,servant room,store room,furnishing_type,luxury_category,floor_category
0,falt,sector 54,5.75,3,4,3,Relatively New,2329.0,1,0,2,high,high floor
1,falt,sector 2,3.35,4,4,3+,New Property,5000.0,0,0,1,medium,low floor
2,falt,sector 69,1.40,3,3,2,Relatively New,1428.0,0,0,1,medium,medium floor
3,falt,sector 79,1.70,3,2,3,Relatively New,1570.0,0,0,1,low,medium floor
4,falt,sector 33,1.35,3,2,3+,New Property,1409.0,0,0,1,low,high floor

In [10]:
df['furnishing_type'].value_counts()

furnishing_type
1    2364
0    1002
2     189
Name: count, dtype: int64

In [11]:
# 0 -> unfurnished
# 1 -> semifurnished
# 2 -> furnished
df['furnishing_type'] = df['furnishing_type'].replace({0.0:'unfurnished',1.0:'semifurnished',2.0:'furnished'})

In [49]:
df['floor_category'].unique()

array(['high floor', 'low floor', 'medium floor', None], dtype=object)

In [50]:
df['floor_category'].isnull().sum()

128

In [51]:
def fill_floor_category_mode(df, column_name='floor_category'):
    
    mode_value = df[column_name].mode()[0]
    
    df[column_name] = df[column_name].fillna(mode_value)
    
    return df


df = fill_floor_category_mode(df, column_name='floor_category')

In [52]:
df['floor_category'].isnull().sum()

0

In [53]:
df['floor_category'].unique()

array(['high floor', 'low floor', 'medium floor'], dtype=object)

In [56]:
df.to_csv('gurgaon_properties_post_feature_selection_v4.csv', index=False)

In [54]:
df.head()

,property_type,sector,price,bedRoom,bathroom,balcony,agePossession,built_up_area,servant room,store room,furnishing_type,luxury_category,floor_category
0,falt,sector 54,5.75,3,4,3,Relatively New,2329.0,1,0,furnished,high,high floor
1,falt,sector 2,3.35,4,4,3+,New Property,5000.0,0,0,semifurnished,medium,low floor
2,falt,sector 69,1.40,3,3,2,Relatively New,1428.0,0,0,semifurnished,medium,medium floor
3,falt,sector 79,1.70,3,2,3,Relatively New,1570.0,0,0,semifurnished,low,medium floor
4,falt,sector 33,1.35,3,2,3+,New Property,1409.0,0,0,semifurnished,low,high floor