In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

from sklearn.decomposition import PCA

C:\Users\HARSHIT JAIN\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv(r'C:\Users\HARSHIT JAIN\Desktop\data science projects\Real_Estate_Data_science_Project\DATASETS\gurgaon_properties_post_feature_selection_v4\gurgaon_properties_post_feature_selection_v4.csv')

In [3]:
df.head()

,property_type,sector,price,bedRoom,bathroom,balcony,agePossession,built_up_area,servant room,store room,furnishing_type,luxury_category,floor_category
0,falt,sector 54,5.75,3,4,3,Relatively New,2329.0,1,0,furnished,high,high floor
1,falt,sector 2,3.35,4,4,3+,New Property,5000.0,0,0,semifurnished,medium,low floor
2,falt,sector 69,1.40,3,3,2,Relatively New,1428.0,0,0,semifurnished,medium,medium floor
3,falt,sector 79,1.70,3,2,3,Relatively New,1570.0,0,0,semifurnished,low,medium floor
4,falt,sector 33,1.35,3,2,3+,New Property,1409.0,0,0,semifurnished,low,high floor

In [4]:
df = df.replace({'property_type':{'falt':'flat'}})

In [5]:
df.head()

,property_type,sector,price,bedRoom,bathroom,balcony,agePossession,built_up_area,servant room,store room,furnishing_type,luxury_category,floor_category
0,flat,sector 54,5.75,3,4,3,Relatively New,2329.0,1,0,furnished,high,high floor
1,flat,sector 2,3.35,4,4,3+,New Property,5000.0,0,0,semifurnished,medium,low floor
2,flat,sector 69,1.40,3,3,2,Relatively New,1428.0,0,0,semifurnished,medium,medium floor
3,flat,sector 79,1.70,3,2,3,Relatively New,1570.0,0,0,semifurnished,low,medium floor
4,flat,sector 33,1.35,3,2,3+,New Property,1409.0,0,0,semifurnished,low,high floor

In [8]:
df.drop(columns=['store room','floor_category','balcony'],inplace=True)

In [9]:
df

,property_type,sector,price,bedRoom,bathroom,agePossession,built_up_area,servant room,furnishing_type,luxury_category
0,flat,sector 54,5.75,3,4,Relatively New,2329.0,1,furnished,high
1,flat,sector 2,3.35,4,4,New Property,5000.0,0,semifurnished,medium
2,flat,sector 69,1.40,3,3,Relatively New,1428.0,0,semifurnished,medium
3,flat,sector 79,1.70,3,2,Relatively New,1570.0,0,semifurnished,low
4,flat,sector 33,1.35,3,2,New Property,1409.0,0,semifurnished,low
...,...,...,...,...,...,...,...,...,...,...
3550,flat,sector 83,1.42,3,3,Relatively New,1972.0,0,unfurnished,medium
3551,flat,sector 56,0.65,1,1,Moderately Old,839.0,0,semifurnished,medium
3552,house,sector 6,0.40,4,2,Moderately Old,1600.0,0,semifurnished,low
3553,flat,sector 89,1.28,3,3,New Property,1611.0,0,semifurnished,medium
3554,flat,sector 86,0.50,2,2,Old Property,573.0,0,semifurnished,low

In [10]:
# 0 -> unfurnished
# 1 -> semifurnished
# 2 -> furnished

In [11]:
# Numerical = bedRoom, bathroom, built_up_area, servant room
# Ordinal = property_type, furnishing_type, luxury_category 
# OHE = sector, agePossession

In [12]:
df['agePossession'] = df['agePossession'].replace(
    {
        'Relatively New':'new',
        'Moderately Old':'old',
        'New Property' : 'new',
        'Old Property' : 'old',
        'Under Construction' : 'under construction'
    }
)

In [13]:
df.head()

,property_type,sector,price,bedRoom,bathroom,agePossession,built_up_area,servant room,furnishing_type,luxury_category
0,flat,sector 54,5.75,3,4,new,2329.0,1,furnished,high
1,flat,sector 2,3.35,4,4,new,5000.0,0,semifurnished,medium
2,flat,sector 69,1.40,3,3,new,1428.0,0,semifurnished,medium
3,flat,sector 79,1.70,3,2,new,1570.0,0,semifurnished,low
4,flat,sector 33,1.35,3,2,new,1409.0,0,semifurnished,low

In [14]:
df['property_type'] = df['property_type'].replace({'flat':0,'house':1})

C:\Users\HARSHIT JAIN\AppData\Local\Temp\ipykernel_16636\71934247.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['property_type'] = df['property_type'].replace({'flat':0,'house':1})

In [15]:
df.head()

,property_type,sector,price,bedRoom,bathroom,agePossession,built_up_area,servant room,furnishing_type,luxury_category
0,0,sector 54,5.75,3,4,new,2329.0,1,furnished,high
1,0,sector 2,3.35,4,4,new,5000.0,0,semifurnished,medium
2,0,sector 69,1.40,3,3,new,1428.0,0,semifurnished,medium
3,0,sector 79,1.70,3,2,new,1570.0,0,semifurnished,low
4,0,sector 33,1.35,3,2,new,1409.0,0,semifurnished,low

In [18]:
df['luxury_category'] = df['luxury_category'].replace({'low':0,'medium':1,'high':2})

C:\Users\HARSHIT JAIN\AppData\Local\Temp\ipykernel_16636\1896554504.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['luxury_category'] = df['luxury_category'].replace({'low':0,'medium':1,'high':2})

In [19]:
df.head()

,property_type,sector,price,bedRoom,bathroom,agePossession,built_up_area,servant room,furnishing_type,luxury_category
0,0,sector 54,5.75,3,4,new,2329.0,1,furnished,2
1,0,sector 2,3.35,4,4,new,5000.0,0,semifurnished,1
2,0,sector 69,1.40,3,3,new,1428.0,0,semifurnished,1
3,0,sector 79,1.70,3,2,new,1570.0,0,semifurnished,0
4,0,sector 33,1.35,3,2,new,1409.0,0,semifurnished,0

In [23]:
df['furnishing_type'].unique()

array(['furnished', 'semifurnished', 'unfurnished'], dtype=object)

In [24]:
df['furnishing_type'] = df['furnishing_type'].replace({'furnished':2,'semifurnished':1,'unfurnished':0})

C:\Users\HARSHIT JAIN\AppData\Local\Temp\ipykernel_16636\3383776019.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['furnishing_type'] = df['furnishing_type'].replace({'furnished':2,'semifurnished':1,'unfurnished':0})

In [25]:
df.head()

,property_type,sector,price,bedRoom,bathroom,agePossession,built_up_area,servant room,furnishing_type,luxury_category
0,0,sector 54,5.75,3,4,new,2329.0,1,2,2
1,0,sector 2,3.35,4,4,new,5000.0,0,1,1
2,0,sector 69,1.40,3,3,new,1428.0,0,1,1
3,0,sector 79,1.70,3,2,new,1570.0,0,1,0
4,0,sector 33,1.35,3,2,new,1409.0,0,1,0

In [30]:
 pd.get_dummies(df,columns=['sector','agePossession'],drop_first=True)

,property_type,price,bedRoom,bathroom,built_up_area,servant room,furnishing_type,luxury_category,sector_gwal pahari,sector_manesar,...,sector_sector 92,sector_sector 93,sector_sector 95,sector_sector 99,sector_sector 99a,sector_sector 9a,sector_sohna road,sector_sohna road road,agePossession_old,agePossession_under construction
0,0,5.75,3,4,2329.0,1,2,2,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,3.35,4,4,5000.0,0,1,1,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,1.40,3,3,1428.0,0,1,1,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,1.70,3,2,1570.0,0,1,0,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,1.35,3,2,1409.0,0,1,0,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3550,0,1.42,3,3,1972.0,0,0,1,False,False,...,False,False,False,False,False,False,False,False,False,False
3551,0,0.65,1,1,839.0,0,1,1,False,False,...,False,False,False,False,False,False,False,False,True,False
3552,1,0.40,4,2,1600.0,0,1,0,False,False,...,False,False,False,False,False,False,False,False,True,False
3553,0,1.28,3,3,1611.0,0,1,1,False,False,...,False,False,False,False,False,False,False,False,False,False
3554,0,0.50,2,2,573.0,0,1,0,False,False,...,False,False,False,False,False,False,False,False,True,False

In [35]:
new_df = pd.get_dummies(df,columns=['sector','agePossession'],drop_first=True).astype('int')

In [36]:
new_df

,property_type,price,bedRoom,bathroom,built_up_area,servant room,furnishing_type,luxury_category,sector_gwal pahari,sector_manesar,...,sector_sector 92,sector_sector 93,sector_sector 95,sector_sector 99,sector_sector 99a,sector_sector 9a,sector_sohna road,sector_sohna road road,agePossession_old,agePossession_under construction
0,0,5,3,4,2329,1,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,3,4,4,5000,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,3,3,1428,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,3,2,1570,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,3,2,1409,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3550,0,1,3,3,1972,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3551,0,0,1,1,839,0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3552,1,0,4,2,1600,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3553,0,1,3,3,1611,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3554,0,0,2,2,573,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [37]:
new_df.shape

(3555, 124)

In [38]:
X = new_df.drop(columns=['price'])
y = new_df['price']

In [39]:
X

,property_type,bedRoom,bathroom,built_up_area,servant room,furnishing_type,luxury_category,sector_gwal pahari,sector_manesar,sector_new,...,sector_sector 92,sector_sector 93,sector_sector 95,sector_sector 99,sector_sector 99a,sector_sector 9a,sector_sohna road,sector_sohna road road,agePossession_old,agePossession_under construction
0,0,3,4,2329,1,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,4,4,5000,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,3,3,1428,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,3,2,1570,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,3,2,1409,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3550,0,3,3,1972,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3551,0,1,1,839,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3552,1,4,2,1600,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3553,0,3,3,1611,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3554,0,2,2,573,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [40]:
y

0       5
1       3
2       1
3       1
4       1
       ..
3550    1
3551    0
3552    0
3553    1
3554    0
Name: price, Length: 3555, dtype: int32

In [41]:
y_log = np.log1p(y)

In [42]:
y_log

0       1.791759
1       1.386294
2       0.693147
3       0.693147
4       0.693147
          ...
3550    0.693147
3551    0.000000
3552    0.000000
3553    0.693147
3554    0.000000
Name: price, Length: 3555, dtype: float64

In [43]:
scaler = StandardScaler()

X_scaled = scaler.fit_transform(X)
X_scaled = pd.DataFrame(X_scaled,columns=X.columns)

In [44]:
X_scaled

,property_type,bedRoom,bathroom,built_up_area,servant room,furnishing_type,luxury_category,sector_gwal pahari,sector_manesar,sector_new,...,sector_sector 92,sector_sector 93,sector_sector 95,sector_sector 99,sector_sector 99a,sector_sector 9a,sector_sohna road,sector_sohna road road,agePossession_old,agePossession_under construction
0,-0.517088,-0.073838,0.505645,0.384555,1.337249,2.310808,1.867758,-0.071338,-0.093791,-0.033563,...,-0.170128,-0.050379,-0.125357,-0.058198,-0.092253,-0.053112,-0.211344,-0.055712,-0.606927,-0.190901
1,-0.517088,0.728896,0.505645,2.580315,-0.747804,0.430102,0.441667,-0.071338,-0.093791,-0.033563,...,-0.170128,-0.050379,-0.125357,-0.058198,-0.092253,-0.053112,-0.211344,-0.055712,-0.606927,-0.190901
2,-0.517088,-0.073838,-0.184136,-0.356134,-0.747804,0.430102,0.441667,-0.071338,-0.093791,-0.033563,...,-0.170128,-0.050379,-0.125357,-0.058198,-0.092253,-0.053112,-0.211344,-0.055712,-0.606927,-0.190901
3,-0.517088,-0.073838,-0.873916,-0.239400,-0.747804,0.430102,-0.984424,-0.071338,-0.093791,-0.033563,...,-0.170128,-0.050379,-0.125357,-0.058198,-0.092253,-0.053112,-0.211344,-0.055712,-0.606927,-0.190901
4,-0.517088,-0.073838,-0.873916,-0.371754,-0.747804,0.430102,-0.984424,-0.071338,-0.093791,-0.033563,...,-0.170128,-0.050379,-0.125357,-0.058198,-0.092253,-0.053112,-0.211344,-0.055712,-0.606927,-0.190901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3550,-0.517088,-0.073838,-0.184136,0.091074,-0.747804,-1.450604,0.441667,-0.071338,-0.093791,-0.033563,...,-0.170128,-0.050379,-0.125357,-0.058198,-0.092253,-0.053112,-0.211344,-0.055712,-0.606927,-0.190901
3551,-0.517088,-1.679305,-1.563697,-0.840336,-0.747804,0.430102,0.441667,-0.071338,-0.093791,-0.033563,...,-0.170128,-0.050379,-0.125357,-0.058198,-0.092253,-0.053112,-0.211344,-0.055712,1.647645,-0.190901
3552,1.933908,0.728896,-0.873916,-0.214738,-0.747804,0.430102,-0.984424,-0.071338,-0.093791,-0.033563,...,-0.170128,-0.050379,-0.125357,-0.058198,-0.092253,-0.053112,-0.211344,-0.055712,1.647645,-0.190901
3553,-0.517088,-0.073838,-0.184136,-0.205695,-0.747804,0.430102,0.441667,-0.071338,-0.093791,-0.033563,...,-0.170128,-0.050379,-0.125357,-0.058198,-0.092253,-0.053112,-0.211344,-0.055712,-0.606927,-0.190901
3554,-0.517088,-0.876571,-0.873916,-1.059008,-0.747804,0.430102,-0.984424,-0.071338,-0.093791,-0.033563,...,-0.170128,-0.050379,-0.125357,-0.058198,-0.092253,-0.053112,-0.211344,-0.055712,1.647645,-0.190901

In [45]:
kfold = KFold(n_splits=10, shuffle=True, random_state=42)
scores = cross_val_score(LinearRegression(), X_scaled, y_log, cv=kfold, scoring='r2')

In [46]:
scores.mean(),scores.std()

(0.8041491983766285, 0.022153863455282016)

In [48]:
lr = LinearRegression()

In [49]:
lr.fit(X_scaled,y_log)

LinearRegression()

In [50]:
lr.coef_

array([ 1.27742901e-01,  7.69021187e-02,  7.94311213e-02,  2.42596728e-01,
        6.66885284e-02, -3.72861469e-03,  4.60739389e-03,  5.19257686e-03,
       -5.08715262e-02, -8.87006186e-03, -3.00689665e-03, -1.63292231e-02,
        1.48011490e-02, -1.19320798e-02, -1.24807515e-02, -2.87526296e-02,
       -5.58003845e-03, -3.04049469e-02,  1.57509778e-03,  1.44703570e-02,
        3.61478610e-04, -2.52100362e-02,  7.76449459e-03,  9.73234138e-03,
        2.80712573e-02,  2.99919794e-02, -3.15018126e-02, -2.00140851e-02,
        2.95707936e-02,  1.36368124e-03,  6.09080164e-03,  3.79555807e-03,
        1.22574273e-02, -7.57730241e-03, -1.71044139e-02,  3.46805155e-02,
       -7.27410188e-04,  1.42325394e-02,  5.38728490e-02,  7.26213401e-02,
        6.34611242e-03,  4.12811453e-02, -2.72939704e-02, -1.36327737e-02,
       -2.37972487e-02,  1.52005389e-03,  2.25088872e-02,  2.78129041e-02,
       -1.98097340e-02,  6.96317827e-03,  1.18124090e-02, -3.23382029e-02,
       -7.54202552e-03,  1.32286488e-02, -3.28706188e-05, -3.78694771e-02,
        9.34461868e-03,  1.42075309e-02,  6.08336172e-02,  2.70836050e-02,
        1.60283838e-02,  1.00479957e-02,  5.09666265e-02,  2.38842219e-02,
       -1.04472797e-02,  7.08722181e-02, -2.78702765e-03,  1.70480232e-03,
        5.20475906e-02,  4.31219497e-02,  1.09393815e-02,  4.96626384e-03,
        2.22792898e-02,  2.56819456e-02,  3.45220712e-02, -2.70737453e-02,
        2.30940738e-02,  4.08006699e-02,  4.42242479e-02,  3.56111099e-02,
        2.72357513e-02,  7.18187449e-02,  5.05316508e-02,  3.74389027e-02,
       -5.10263578e-05,  8.40652308e-03,  4.46938322e-03, -1.59231739e-02,
       -2.23694640e-03,  9.83685186e-03, -1.24202042e-02,  2.98918114e-02,
       -5.11247688e-03,  2.12368789e-02, -7.78774430e-03, -8.70230636e-03,
       -1.67419229e-02,  3.92473918e-03, -2.42516289e-02, -3.41425089e-03,
        4.70706890e-03, -1.42094374e-02,  2.80825342e-03, -1.40822998e-02,
       -2.61478959e-02,  5.81795156e-03, -1.85264352e-02,  6.24639232e-03,
       -6.88626000e-03, -8.93714842e-03, -1.78430824e-02, -3.60170666e-02,
       -1.56335166e-02, -6.77973171e-02, -8.23237324e-03, -4.14935414e-02,
       -8.75081706e-03, -1.58320347e-02, -1.63214763e-02, -5.97094150e-02,
       -1.75423502e-02, -1.19463736e-02, -2.83264790e-04])

In [52]:
lr.coef_.shape

(123,)

In [55]:
coef_df =  pd.DataFrame(lr.coef_.reshape(1,123),columns=X.columns).stack().reset_index().drop(columns=['level_0']).rename(columns={'level_1':'feature',0:'coef'})

In [56]:
import statsmodels.api as sm

X_with_const = sm.add_constant(X_scaled)

model = sm.OLS(y_log, X_with_const).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.822
Model:                            OLS   Adj. R-squared:                  0.815
Method:                 Least Squares   F-statistic:                     128.5
Date:                Wed, 18 Sep 2024   Prob (F-statistic):               0.00
Time:                        12:11:05   Log-Likelihood:                -637.15
No. Observations:                3555   AIC:                             1522.
Df Residuals:                    3431   BIC:                             2288.
Df Model:                         123
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                 0.8147      0.005    164.847      0.000       0.805       0.824
property_type                         0.1277      0.008     16.881      0.000       0.113       0.143
bedRoom                               0.0769      0.009      8.228      0.000       0.059       0.095
bathroom                              0.0794      0.010      8.196      0.000       0.060       0.098
built_up_area                         0.2426      0.007     33.840      0.000       0.229       0.257
servant room                          0.0667      0.006     10.425      0.000       0.054       0.079
furnishing_type                      -0.0037      0.005     -0.698      0.485      -0.014       0.007
luxury_category                       0.0046      0.006      0.815      0.415      -0.006       0.016
sector_gwal pahari                    0.0052      0.009      0.578      0.563      -0.012       0.023
sector_manesar                       -0.0509      0.011     -4.606      0.000      -0.073      -0.029
sector_new                           -0.0089      0.006     -1.462      0.144      -0.021       0.003
sector_new sector 2                  -0.0030      0.006     -0.474      0.636      -0.015       0.009
sector_sector 1                      -0.0163      0.007     -2.476      0.013      -0.029      -0.003
sector_sector 102                     0.0148      0.019      0.789      0.430      -0.022       0.052
sector_sector 103                    -0.0119      0.012     -0.960      0.337      -0.036       0.012
sector_sector 104                    -0.0125      0.015     -0.821      0.412      -0.042       0.017
sector_sector 105                    -0.0288      0.009     -3.053      0.002      -0.047      -0.010
sector_sector 106                    -0.0056      0.012     -0.467      0.640      -0.029       0.018
sector_sector 107                    -0.0304      0.014     -2.112      0.035      -0.059      -0.002
sector_sector 108                     0.0016      0.014      0.110      0.912      -0.026       0.030
sector_sector 109                     0.0145      0.017      0.849      0.396      -0.019       0.048
sector_sector 10a                     0.0004      0.007      0.053      0.958      -0.013       0.014
sector_sector 11                     -0.0252      0.009     -2.897      0.004      -0.042      -0.008
sector_sector 110                     0.0078      0.010      0.802      0.422      -0.011       0.027
sector_sector 111                     0.0097      0.010      1.009      0.313      -0.009       0.029
sector_sector 112                     0.0281      0.010      2.848      0.004       0.009       0.047
sector_sector 113                     0.0300      0.012      2.412      0.016       0.006       0.054
sector_sector 12                     -0.0315      0.011     -2.848      0.004      -0.053      -0.010
sector_sector 13                     -0.0200      0.007     -2.730      0.006      -0.034      -0.006
sector_sector 14                      0.0296      0.009      3.263      0.001       0.012       0.047
sector_sector 15                      0.0014      0.007      0.207      0.836      -0.012       0.014
sector_sector 17                      0.0061      0.007      0.920      0.358      -0.007       0.019
sector_sector 17a                     0.0038      0.005      0.721      0.471      -0.007       0.014
sector_sector 17b                     0.0123      0.006      2.092      0.037       0.001       0.024
sector_sector 2                      -0.0076      0.015     -0.516      0.606      -0.036       0.021
sector_sector 21                     -0.0171      0.007     -2.590      0.010      -0.030      -0.004
sector_sector 22                      0.0347      0.009      3.717      0.000       0.016       0.053
sector_sector 23                     -0.0007      0.008     -0.089      0.929      -0.017       0.015
sector_sector 24                      0.0142      0.009      1.515      0.130      -0.004       0.033
sector_sector 25                      0.0539      0.012      4.555      0.000       0.031       0.077
sector_sector 26                      0.0726      0.012      5.875      0.000       0.048       0.097
sector_sector 27                      0.0063      0.006      1.139      0.255      -0.005       0.017
sector_sector 28                      0.0413      0.012      3.405      0.001       0.018       0.065
sector_sector 3                      -0.0273      0.010     -2.722      0.007      -0.047      -0.008
sector_sector 3 phase 2              -0.0136      0.007     -2.070      0.038      -0.027      -0.001
sector_sector 3 phase 3 extension    -0.0238      0.007     -3.259      0.001      -0.038      -0.009
sector_sector 30                      0.0015      0.006      0.239      0.811      -0.011       0.014
sector_sector 31                      0.0225      0.007      3.076      0.002       0.008       0.037
sector_sector 33                      0.0278      0.015      1.840      0.066      -0.002       0.057
sector_sector 36                     -0.0198      0.008     -2.582      0.010      -0.035      -0.005
sector_sector 36a                     0.0070      0.008      0.907      0.365      -0.008       0.022
sector_sector 37                      0.0118      0.005      2.243      0.025       0.001       0.022
sector_sector 37c                    -0.0323      0.013     -2.406      0.016      -0.059      -0.006
sector_sector 37d                    -0.0075      0.015     -0.510      0.610      -0.037       0.021
sector_sector 38                      0.0132      0.008      1.760      0.079      -0.002       0.028
sector_sector 39                  -3.287e-05      0.008     -0.004      0.997      -0.015       0.015
sector_sector 4                      -0.0379      0.013     -2.931      0.003      -0.063      -0.013
sector_sector 40                      0.0093      0.006      1.465      0.143      -0.003       0.022
sector_sector 41                      0.0142      0.008      1.835      0.067      -0.001       0.029
sector_sector 43                      0.0608      0.014      4.234      0.000       0.033       0.089
sector_sector 45                      0.0271      0.007      3.828      0.000       0.013       0.041
sector_sector 46                      0.0160      0.008      2.062      0.039       0.001       0.031
sector_sector 47                      0.0100      0.009      1.159      0.247      -0.007       0.027
sector_sector 48                      0.0510      0.014      3.625      0.000       0.023       0.079
sector_sector 49                      0.0239      0.013      1.858      0.063      -0.001       0.049
sector_sector 5                      -0.0104      0.007     -1.580      0.114      -0.023       0.003
sector_sector 50                      0.0709      0.015      4.803      0.000       0.042       0.100
sector_sector 51                     -0.0028      0.007     -0.408      0.683      -0.016       0.011
sector_sector 52                      0.0017      0.008      0.206      0.837      -0.015       0.018
sector_sector 53                      0.0520      0.008      6.293      0.000       0.036       0.068
sector_sector 54                      0.0431      0.010      4.177      0.000       0.023       0.063
sector_sector 55                      0.0109      0.008      1.456      0.145      -0.004       0.026
sector_sector 56                      0.0050      0.014      0.360      0.719      -0.022       0.032
sector_sector 57                      0.0223      0.010      2.285      0.022       0.003       0.041
sector_sector 58                      0.0257      0.007      3.764      0.000       0.012       0.039
sector_sector 59                      0.0345      0.007      4.935      0.000       0.021       0.048
sector_sector 6                      -0.0271      0.008     -3.502      0.000      -0.042      -0.012
sector_sector 60                      0.0231      0.008      2.722      0.007       0.006       0.040
sector_sector 61                      0.0408      0.012      3.331      0.001       0.017       0.065
sector_sector 62                      0.0442      0.009      5.129      0.000       0.027       0.061
sector_sector 63                      0.0356      0.008      4.305      0.000       0.019       0.052
sector_sector 63a                     0.0272      0.008      3.244      0.001       0.011       0.044
sector_sector 65                      0.0718      0.017      4.211      0.000       0.038       0.105
sector_sector 66                      0.0505      0.012      4.085      0.000       0.026       0.075
sector_sector 67                      0.0374      0.013      2.859      0.004       0.012       0.063
sector_sector 67a                 -5.103e-05      0.009     -0.005      0.996      -0.019       0.019
sector_sector 68                      0.0084      0.011      0.777      0.437      -0.013       0.030
sector_sector 69                      0.0045      0.018      0.255      0.799      -0.030       0.039
sector_sector 7                      -0.0159      0.012     -1.364      0.173      -0.039       0.007
sector_sector 70                     -0.0022      0.013     -0.169      0.866      -0.028       0.024
sector_sector 70a                     0.0098      0.014      0.709      0.478      -0.017       0.037
sector_sector 71                     -0.0124      0.010     -1.189      0.235      -0.033       0.008
sector_sector 72                      0.0299      0.011      2.778      0.006       0.009       0.051
sector_sector 73                     -0.0051      0.006     -0.880      0.379      -0.017       0.006
sector_sector 74                      0.0212      0.009      2.357      0.018       0.004       0.039
sector_sector 76                     -0.0078      0.008     -0.927      0.354      -0.024       0.009
sector_sector 77                     -0.0087      0.010     -0.834      0.405      -0.029       0.012
sector_sector 78                     -0.0167      0.009     -1.939      0.053      -0.034       0.000
sector_sector 79                      0.0039      0.016      0.244      0.807      -0.028       0.035
sector_sector 8                      -0.0243      0.007     -3.532      0.000      -0.038      -0.011
sector_sector 80                     -0.0034      0.006     -0.537      0.591      -0.016       0.009
sector_sector 81                      0.0047      0.017      0.276      0.783      -0.029       0.038
sector_sector 82                     -0.0142      0.012     -1.152      0.249      -0.038       0.010
sector_sector 82a                     0.0028      0.009      0.313      0.755      -0.015       0.020
sector_sector 83                     -0.0141      0.015     -0.917      0.359      -0.044       0.016
sector_sector 84                     -0.0261      0.013     -1.967      0.049      -0.052   -8.36e-05
sector_sector 85                      0.0058      0.019      0.309      0.757      -0.031       0.043
sector_sector 86                     -0.0185      0.015     -1.262      0.207      -0.047       0.010
sector_sector 88a                     0.0062      0.010      0.646      0.518      -0.013       0.025
sector_sector 88b                    -0.0069      0.006     -1.187      0.235      -0.018       0.004
sector_sector 89                     -0.0089      0.014     -0.634      0.526      -0.037       0.019
sector_sector 9                      -0.0178      0.008     -2.245      0.025      -0.033      -0.002
sector_sector 90                     -0.0360      0.017     -2.086      0.037      -0.070      -0.002
sector_sector 91                     -0.0156      0.009     -1.772      0.076      -0.033       0.002
sector_sector 92                     -0.0678      0.018     -3.739      0.000      -0.103      -0.032
sector_sector 93                     -0.0082      0.007     -1.134      0.257      -0.022       0.006
sector_sector 95                     -0.0415      0.014     -2.970      0.003      -0.069      -0.014
sector_sector 99                     -0.0088      0.008     -1.113      0.266      -0.024       0.007
sector_sector 99a                    -0.0158      0.011     -1.460      0.145      -0.037       0.005
sector_sector 9a                     -0.0163      0.008     -2.175      0.030      -0.031      -0.002
sector_sohna road                    -0.0597      0.022     -2.719      0.007      -0.103      -0.017
sector_sohna road road               -0.0175      0.008     -2.284      0.022      -0.033      -0.002
agePossession_old                    -0.0119      0.007     -1.680      0.093      -0.026       0.002
agePossession_under construction     -0.0003      0.005     -0.053      0.957      -0.011       0.010
==============================================================================
Omnibus:                      232.272   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              662.427
Skew:                          -0.337   Prob(JB):                    1.43e-144
Kurtosis:                       5.004   Cond. No.                         39.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.